<form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
  <tui-textfield>
    <label tuiLabel>Name</label>
    <input formControlName="name" placeholder="Name" tuiTextfield />
    <tui-icon tuiTooltip="Enter your full name" />
  </tui-textfield>
  <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
    {{ getErrorMessage('name') }}
  </div>

  <tui-textfield>
    <label tuiLabel>Age</label>
    <input formControlName="age" type="number" placeholder="Age" tuiTextfield />
    <tui-icon tuiTooltip="Enter your age" />
  </tui-textfield>
  <div *ngIf="form.get('age')?.invalid && form.get('age')?.touched" class="error-message">
    {{ getErrorMessage('age') }}
  </div>

  <tui-textfield tuiChevron [tuiTextfieldCleaner]="false">
    <label tuiLabel>Role</label>
    <input placeholder="Choose your role" tuiSelect formControlName="role" />
    <tui-data-list-wrapper *tuiTextfieldDropdown new [items]="roles" />
  </tui-textfield>
  <div *ngIf="form.get('role')?.invalid && form.get('role')?.touched" class="error-message">
    {{ getErrorMessage('role') }}
  </div>

  <tui-textfield>
    <label tuiLabel>Email</label>
    <input formControlName="email" type="email" placeholder="Email" tuiTextfield />
    <tui-icon tuiTooltip="Enter your email address" />
  </tui-textfield>
  <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
    {{ getErrorMessage('email') }}
  </div>

  <tui-textfield>
    <label tuiLabel>Password</label>
    <input formControlName="password" type="password" placeholder="Password" tuiTextfield />
    <tui-icon tuiPassword />
  </tui-textfield>
  <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
    {{ getErrorMessage('password') }}
  </div>

  <tui-textfield>
    <label tuiLabel>Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      tuiTextfield
    />
    <tui-icon tuiTooltip="Re-enter your password" />
  </tui-textfield>
  <div
    *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched"
    class="error-message"
  >
    {{ getErrorMessage('confirmPassword') }}
  </div>

  <div
    *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
    class="error-message"
  >
    Passwords do not match
  </div>

  <button tuiButton type="submit" appearance="primary" [disabled]="form.invalid">Register</button>
</form>
